br
.panel.panel-default(style='background-color:#FFF')
    .panel-body
        h2 Register
        br
        input#emladdr.form-control(type="email" placeholder="Email Address" required=true)
        input#pwd.form-control(type="password" placeholder="Password" required=true)
        input#repwd.form-control(type="password" placeholder="Re" required=true)
        p(style='font-size:3') &nbsp;&nbsp;at least 6 characters, contains only numbers or english characters
        br
        button.btn.btn-md.btn-success.btn-block Register
        br
        p
            a(style='float:left' href='?') Go back to Login
        br