h1 Register Now
br
p Welcome to <font color="#DAA520">cassite.net</font>. The register step is free, easy, fast, and safe.
p After finished registering, check email for activation code.
p Then click <a href="?activate">here</a> to activate your account.