doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css')
        script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
        script(src='http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js')
        link(rel='stylesheet', href='http://7xkuii.com1.z0.glb.clouddn.com/sweetalert.css')
        script(src="http://7xkuii.com1.z0.glb.clouddn.com/sweetalert.min.js")
        block scripts
        block css
    body
        .container
            block content