h1 Hello World!
p Welcome to <font color="#DAA520">cassite.net</font>, this is a website about programming.
p You can find Java, Node.js, PHP, C#, C++, C libraries or projects I wrote myself.
p Some projects are currently running on this site, try them for free, simply start with&nbsp;
    b login