extends layout
block content
    div.container
        div.row
            div.col-xs-6
                include loginsup/login.left.jade
            div.col-xs-6
                include loginsup/login.min.jade
