script(src="http://7xkuii.com1.z0.glb.clouddn.com/sweetalert.min.js")
script(src="http://7xkuii.com1.z0.glb.clouddn.com/navigator.js")

nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand Cassite.net
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #{user.user_email}
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="#" onclick="dsablecrt()") #{lan.a.logout}
                        - if(show_remvoe_cookie){
                            a(href="#" onclick="rmvcky()") #{lan.a.dropcookie}
                        - }else{
                            a(href="../passport") #{lan.a.switch}
                        - }